---
title: Wakeboarding
subtitle: When there is no wind
---

%header.mod-page-title
  %h1 Wakeboarding
  %h2 When there is no wind

%article.mod-article.mod-photoset
  .body#content
    %p
      I'm a kitesurfer, but sometimes there is no wind. Fortunatly wakeboarding is also kinda cool..

    %figure
      %img{:src => '/images/wakeboarden.jpg'}
    = partial 'hobby_footer'
