---
title: Kitesurfing
subtitle: The passion
---

%header.mod-page-title
  %h1 Kitesurfing
  %h2 The passion

%article.mod-article.mod-photoset
  .body#content
    %p
      About 6 years ago i joined a friend to go 'kitesurfing'. That's the day i got hooked, untill i learn to ride unhooked.

    %figure
      %img{:src => '/images/kitesurfen.jpg'}
    = partial 'hobby_footer'
