---
title: New year, new calendar
subtitle: A darker design
---

%header.mod-page-title
  %h1 New year, new calendar
  %h2 A darker design

%article.mod-article.mod-photoset
  .body#content
    %p
      For 2016 Techcomlight wanted to give away a new calendar to their dealers.
      I gathered feedback from the office and made a new darker design that highlights the yellow 'light'.
      Click the image to download the PDF.

    %a{:href => '/files/calendar.pdf', :target => '_blank'}
      %figure
        %img{:src => '/images/calendar_thumbnail.jpg'}
    = partial 'hobby_footer'
