---
title: Graduation project
subtitle: The final steps of college
---

%header.mod-page-title
  %h1 Graduation project
  %h2 The final steps of college

%article.mod-article.mod-photoset
  .body#content
    %p
      For my graduation project i made a 'boardgame' that's supposed to inspire people to think about future technology and how it applies to their jobs.
      To read more and download my graduation paper (in Dutch) click on the thumbnail.

    %a{:href => '/files/b2bmarkt.pdf', :target => '_blank'}
      %figure
        %img{:src => '/images/graduation_thumbnail.jpg'}
    = partial 'hobby_footer'
