---
title: Motorcycling
subtitle: Fun on the road
---

%header.mod-page-title
  %h1 Motorcycling
  %h2 Fun on the road

%article.mod-article.mod-photoset
  .body#content
    %p
      Getting on the bike with some friends on a sunday afternoon is one of the best things ever.

    %figure
      %img{:src => '/images/motorrijden.jpg'}
    = partial 'hobby_footer'
