---
title: A simple invitation
subtitle: what kind of party?
---

%header.mod-page-title
  %h1 A simple invitation
  %h2 What kind of party?

%article.mod-article.mod-photoset
  .body#content
    %p
      Sometimes it's fun to make something so bright and colorfull it almost hurts your eyes.

    %figure
      %img{:src => '/images/uitnodiging_collega.jpg'}
    = partial 'hobby_footer'
