---
title: Solatube restyle
subtitle: A fresh new look
---

%header.mod-page-title
  %h1 Solatube restyle
  %h2 A fresh new look

%article.mod-article.mod-photoset
  .body#content
    %p
      I work at Techcomlight, they stell Solatubes. The old style wasn't working anymore, so I made a fresh new design. The goal is to emphasize the atmosphere daylight brings into your house. To accomplish this I reworked the flyer, posters and the pricelist.

    %figure
      %img{:src => '/images/solatube_small.jpg'}
      %img{:src => '/images/DSC5898small.jpg'}
      %img{:src => '/images/DSC5854small.jpg'}
      %img{:src => '/images/DSC5903small.jpg'}
      %a{:href => '/files/prijslijst.pdf'}
        %img{:src => '/images/downloadsmall.jpg'}

    = partial 'hobby_footer'
