---
title: Icons reworked
subtitle: Back to flat design
---

%header.mod-page-title
  %h1 Icons reworked
  %h2 Back to flat design

%article.mod-article.mod-photoset
  .body#content
    %p
      I reworked a flyer, but the icons didn't fit in the new design. They looked outdated and cheap. So I changed them to match the new design, simple and clean. The content of the icons had to remain the same, so I added a few new ones and copied the rest. In the images below you can see the transformation from dated to relevant.

    %figure
      %img{:src => '/images/DSC5907small.jpg'}
      %img{:src => '/images/DSC5908small.jpg'}


    = partial 'hobby_footer'
