---
title: Techcomlight website restyle WIP
subtitle: Finally an update
---

%header.mod-page-title
  %h1 Techcomlight website restyle WIP
  %h2 Finally an update

%article.mod-article.mod-photoset
  .body#content
    %p
      The current Techcomlight website is made in Dreamweaver. I think that says enough. I made this new design to inspire colleagues and get feedback, this is a first draft.

    %figure
      %img{:src => '/images/website_opzet.jpg'}
    = partial 'hobby_footer'
