---
title: Project photography
subtitle: Daylight pictured
---

%header.mod-page-title
  %h1 Project photography
  %h2 Daylight pictured

%article.mod-article.mod-photoset
  .body#content
    %p
      Techcomlight sells Solatubes, and they bring daylight into your house. They have done some pretty cool projects and I got to photograph some of them for a showcase. I used a Nikon D90 with 10-24 wide-angle lens to capture everything I needed. Photographing daylight itself is quite a challenge. In these photo's I tried to put the emphasis on it without making it too obvious and bright.

    %figure
      %img{:src => '/images/DSC0136small.jpg'}
      %img{:src => '/images/DSC0140small.jpg'}
      %img{:src => '/images/DSC0949small.jpg'}

    = partial 'hobby_footer'
