---
title: Home
---
.mod-homepage

  %header.mod-page-title
    %h1 Hi, I'm Sander Beekman
    %h2 Welcome to my portfolio

  %article
    .body
      %p
        I'm a Marketing and Communications enthousiast. I graduated at <a href="https://www.hu.nl" target="_blank">Hogeschool Utrecht</a>. <br>I'm based in Veenendaal and u can find me on <a href="https://www.linkedin.com/in/sander-beekman-830a2a103" target="_blank">LinkedIn</a> and <a href="https://www.facebook.com/sanderbeekman22" target="_blank">Facebook</a>.

      %p
        During my spare time I love to <a href="/kitesurfing">kitesurf</a>, <a href="/motorcycle">ride motorcycle</a> and <a href="/wakeboarding">wakeboard</a>.

  %h2 My latest Projects
  .mod-visual-overview
    %a{:style => "background-image: url('/images/DSC5898small.jpg')", :href => '/solatube_restyle'}
      .heading
        %h1 Solatube restyle
        %h2 Fresh new look

    %a{:style => "background-image: url('/images/DSC0136small.jpg')", :href => '/project_photography'}
      .heading
        %h1 Project photography
        %h2 Daylight pictured

    %a{:style => "background-image: url('/images/DSC5908small.jpg')", :href => '/icons_reworked'}
      .heading
        %h1 Icons reworked
        %h2 Back to flat design

    %a{:style => "background-image: url('/images/calendar_thumbnail.jpg')", :href => '/calendar'}
      .heading
        %h1 New year, new calendar
        %h2 A darker design

    %a{:style => "background-image: url('/images/website_wip_thumbnail.jpg')", :href => '/website_wip'}
      .heading
        %h1 Techcomlight website restyle WIP
        %h2 Finally an update

    %a{:style => "background-image: url('/images/graduation_thumbnail.jpg')", :href => '/graduation_project'}
      .heading
        %h1 Graduation project
        %h2 The final steps of college

    %a{:style => "background-image: url('/images/beach_party_thumbnail.jpg')", :href => '/invitation'}
      .heading
        %h1 A simple invitation
        %h2 what kind of party?

    %a{:style => "background-image: url('/images/magazine_thumbnail.jpg')", :href => '/college_magazine'}
      .heading
        %h1 My college magazine
        %h2 part 1

    %a{:style => "background-image: url('/images/magazine_thumbnail_2.jpg')", :href => 'college_magazine_2'}
      .heading
        %h1 My college magazine
        %h2 part 2
